
<!-- 
<div class="text-layout">
  <h1>{{nombre | uppercase}}</h1>
  <h1>{{valor | number}}</h1>
  <h1>{{obj | json}}</h1>
</div>

<button pButton label="Cambiar Nombre" icon="pi pi-check" iconPos="right" (click)="mostrarNombre()" class="p-button-help my-2"></button>

<p-card [header]="title | uppercase" subheader="Esto es un SubHeader">
  Lorem ipsum dolor sit amet, usu meis justo iriure ex, quo impedit minimum dignissim in, te dicunt detracto dissentiet mea. Eum eruditi deleniti ad. Eam et consul feugiat, cu duo omnes singulis constituam.
</p-card>
-->

<app-menu></app-menu>

<router-outlet></router-outlet>
